PORT=8081

DATABASE_URL=postgresql://amivel_db_user:sLyxOmbp09EuqcP96XO8xvcdxtzAnC8T@dpg-d86na9a8qa3s73fmus70-a/amivel_db

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false

SMTP_USER=amiveltech56@gmail.com
SMTP_PASS=dqno hslr ofbt tdzc

SMTP_FROM=amiveltech56@gmail.com
MAIL_TO=HR@amiveltech.com

MAX_RESUME_SIZE=5242880